.profile-container {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  width: 100%;
  overflow-y: scroll;
}

.main-profile-box {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  border-radius: 6px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  align-self: baseline;
  margin: 1%;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.2);
}

.edit-btn {
  justify-self: flex-end;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  font-size: 1rem;
  color: #757575;
  text-decoration: none;
  padding: 15px;
}

.edit-btn:hover {
  color: white;
  background-color: #c6def1;
  box-shadow: 0 10px 25px -5px rgba(0,0,0,0.2);
  border-radius: 100px;
  padding: 15px;
}

.profile-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  max-height: 20vh;
  border-radius: 100px;
  border: 3px solid #c6def1;
  margin: 20px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.2);
}

.gift-preference-title {
  display: flex;
  color: #757575;
  justify-content: center;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.gift-preference {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.profile-info-box {
  display: flex;
  flex-direction: column;
}

.profile-name {
  display: flex;
  font-size: 1.8rem;
}

.pronouns {
  display: flex;
  font-size: 1rem;
  color: #757575;
  margin-top: 0.3rem;
}

.email {
  display: flex;
  font-size: 1rem;
  color: #757575;
  margin-top: 0.3rem;
}

.address {
  display: flex;
  color: #757575;
  margin-top: 0.3rem;
}

.birthday {
  display: flex;
  color: #757575;
  margin-top: 0.3rem;
}


.profile-list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.2);
}

.list-title {
  background-color: #e2cfc4;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  /* padding: 0.5rem; */
  box-shadow: 0 10px 25px -5px rgba(0,0,0,0.2);
}

.list-type {
  font-size: 1.5rem;
  display: block;
  padding-left: 1rem;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}