.profile-input-form {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 5px 20px -5px rgba(0,0,0,0.2);
}

.input-title {
  margin-top: 1rem;
  color: #66B1CD;
  margin-bottom: 0.2rem;
}

input {
  font-size: 1rem;
}

select {
  font-size: 1rem;
}


.save-btn {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #757575;
  background-color: #f9c6c9;
  box-shadow: 0 5px 20px -5px rgba(0,0,0,0.2);
}