.footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  height: 10vh;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  box-shadow: 0 -5px 25px -5px rgba(0,0,0,0.3);
  z-index: 199;
}

.nav-btn {
  font-size: 2rem;
  background: none;
  border: none;
  text-decoration: none;
  font-weight: bolder;
  stroke: #757575;
  stroke-width: 0.4;
  color: #757575;
  margin: 5px 10px;
  padding: 10px 15px;
}

.nav-btn:hover {
  color: white;
  opacity: 0.8;
  background-color: #dbcdf0;
  border-radius: 6px;
  box-shadow: 0 10px 25px -5px rgba(0,0,0,0.3);
}

.btn-name {
  display: flex;
  font-size: 0.8rem;
  margin-top: 2px;
  justify-content: center;
}